<% provide :title, t("noti.title1") %>
<div class="form-search">
  <%= form_tag notifications_path, method: :get do %>
    <%= text_field_tag :search, params[:search], required: true,
      placeholder: t("request.search") %>
    <%= submit_tag t("search.search"), class: "btn btn-primary" %>
  <% end %>
</div>
<%= render "shared/result_noti" %>
