<%= form_for request, action: :update do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.hidden_field :approve, value: true  %>
    <%= f.submit t("request.approve"), class: "btn btn-primary" %>
  </div>
<% end %>
